#chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  height: 350px;
  border: 2px solid black;
  border-radius: 10px;
}
