@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}

footer.sccss .footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 2rem;
  height: 10vh;
  text-align: center;
  //background: linear-gradient(to bottom, #ffecd2, #fcb69f);

  p {
    margin-top: 10px;
  }
}
